<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <!-- enabling annotation driven configuration /-->
    <context:annotation-config/>
    
    <context:property-placeholder location="classpath*:config/*.properties" ignore-unresolvable="true"/>
    
    <import resource="dao-config.xml"/>
    
    <!--<import resource="security-config.xml"/>-->
    
    <import resource="mail-velocity-config.xml"/>

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.lacv.jmagrexs.service.gcp" />
    <context:component-scan base-package="com.lacv.jmagrexs.components" />
    <bean id="serverDomain" class="com.lacv.jmagrexs.components.ServerDomain">
        <property name="adminContext" value="/admin" />
        <property name="restContext" value="/services" />
    </bean>
    <!-- Scans the classpath of this application for SYSTEM MODULES -->
    <context:component-scan base-package="com.lacv.jmagrexs.modules.common">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.lacv.jmagrexs.modules.entityexplorer">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.lacv.jmagrexs.modules.fileexplorer">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.lacv.jmagrexs.modules.leadtable">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.lacv.jmagrexs.modules.mail">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="com.lacv.jmagrexs.modules.security">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.lacv.mercando.daos" />
    <context:component-scan base-package="com.lacv.mercando.services" />
    <context:component-scan base-package="com.lacv.mercando.model.mappers" />
    <context:component-scan base-package="com.lacv.mercando.model.constants" />
    
    <bean id="tableColumnsConfig" class="com.lacv.jmagrexs.components.TableColumnsConfig">
        <property name="columsConfigNameQuery" value="queriesTableColumn.columsConfig" />
    </bean>
    
    <bean id="extViewConfig" class="com.lacv.jmagrexs.components.ExtViewConfig">
        <property name="appName" value="MERCANDO" />
        <property name="extJsVersion" value="4" />
        <property name="favicon" value="/img/favicon.png" />
    </bean>
    
</beans>
