@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*body{
    font-size: 15px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}*/

header{
    background: #19222b;
    max-height: 100px;
    padding: 10px 0;

    -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    -ms-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

header a.brand img{
    height: 50px;
}

header a.registro{
    color: #FFF;
    text-align: right;
    text-decoration: underline;
    padding-top: 20px;
}

/*.login{
    height: calc(100vh - 130px);
}*/

.login .box-login{
    background: #FFF;
    border-radius: 6px;
    margin-top: 10px;
    min-height: 1px;
    padding: 0 10px;

    -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    -ms-box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.login .box-input input{
    border: none;
    padding: 20px 0;
    width: calc(100% - 50px);
    color: #15252f;
}

.login .box-input input:hover{
    outline: none;
}

section.login .box-input input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 255);
    background-image: none;
    color: #15252f;
}

.login .box-input:first-child{
    border-bottom: 1px solid #747474;
}

.login .btn-ingreso{
    display: block;
    width: 100%;
    background: #f9671e;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    border-radius: 6px;
    color: white;
}

.login a.link-pass{
    text-align: center;
    width: 100%;
    display: block;
}

.login .container{
    width: 500px;
}

footer{
    max-height: 50px;
    padding: 10px 0;
    background: #f6f7f9;
    color: #15252f;
}
.x-window-header-default-top, .x-window-header-default .x-tool-img, .x-window-default {background-color:#d44413 !important; border-color: #d44413 !important;}
.x-toolbar-footer {background: #fce2d9 none repeat scroll 0 0 !important;}
.x-btn-default-small {
    background-color: #e86537 !important;
    background-image: linear-gradient(to bottom, #ef784e, #dd4814) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}